#ifndef {{.CMacroDefines}}
#define {{.CMacroDefines}}

{{range .Includes}}
#include <{{.}}>
{{else}}
#include <mkl.h>
{{end}}

/* Generated for following funcs
{{range .DesiredFuncList}}{{.}}
{{end}}*/

#ifdef __cplusplus

{{range .F64Funcs}}
inline {{.ReturnType}} {{.BetterName}}({{.CParams}}) {
    {{if .HasReturn}}return {{end}}{{.RawName}}({{.CInput}});
}
{{end -}}

{{- range .F32Funcs}}
inline {{.ReturnType}} {{.BetterName}}({{.CParams}}) {
    {{if .HasReturn}}return {{end}}{{.RawName}}({{.CInput}});
}
{{end -}}

#endif // C++

#endif // {{.CMacroDefines}}